/* GENERAL STYLING */
@font-face {
    font-family: 'DTGetaiGrotes';
    src: url(../fonts/DTGetaiGroteskDisplay-Black.otf);
  }
  @font-face {
      font-family: 'montserrat-bold';
      src: url(../fonts/Montserrat-Bold.ttf);
  }
  @font-face {
      font-family: 'montserrat';
      src: url(../fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: 'montserrat-medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  @keyframes color-change {
    0% { color: #003356; }
    20% { color: #0bbf32; }
    40% { color: #003356; }
  }
  
  .animated-text {
    position: relative;
    
  }
  .animated-text span {
    position: relative;
    z-index: 1;
  }
  .animated-text span:nth-child(1) {
    animation: color-change 15s infinite;
    animation-delay: 0s;
    font-style: normal;
    font-weight: 2000;
    line-height: 135%;
    font-size: 7.075rem;
    font-family: 'DTGetaiGrotes';
  }
  .animated-text span:nth-child(2) {
    animation: color-change 15s infinite;
    animation-delay:5s;
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    font-size: 7.075rem;
    font-family: 'DTGetaiGrotes';
  }
  .animated-text span:nth-child(3) {
    animation: color-change 15s infinite;
    animation-delay: 10s;
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    font-size: 7.075rem;
    font-family: 'DTGetaiGrotes';
  }
  .animated-text span:nth-child(4) {
    animation: color-change 15s infinite;
    animation-delay: 10s;
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    font-size: 7.575rem;
    font-family: 'DTGetaiGrotes';
  }
  .clear{
      clear: both;
  }
  html{
    height: 100%;
    font-size: 62.5%;
    color: #003356;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    font-size: 7.575rem;
    font-family: 'DTGetaiGrotes';
    color: #003356;  
}
h3{  
    font-size: 2.8rem;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    color: #003356;
}

p{  
    font-size: 2rem;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: lighter;
    line-height: 4rem;
    color: #1f1e1f;
}
/* INDEX STYLING */
button{
    font-size: 1.525rem;
}
header {
  position: fixed; /* Fix the header to the top of the viewport */
  top: 0; /* Align it to the top of the viewport */
  left: 0; /* Align it to the left of the viewport */
  width: 100%; /* Make it span the full width of the viewport */
  background-color: #fff; /* Set a background color to prevent content from showing through */
  z-index: 1000; /* Ensure it stays above other content */
}

nav{
    background-color: transparent;
    color: #1A0F28;
    padding-top: 3rem; 
    padding-bottom: 1.5rem; 
    padding-left: 10rem;
    padding-right: 10rem;
}

.nav-logo{
    float: left;
  padding: 0rem;
  height: 6rem;
}

.nav-logo img{
    float: left;
    padding-right: 1rem;
  /* width: 14rem; */
  height: 6rem;
}
nav ul{
    float: right;
    list-style: none;
}
nav li{
    float: left;
    margin: 0rem 2rem;
    font-size: 1.6rem;
    color: #003356;
    font-weight: normal;
    font-family: 'montserrat';
    
}
nav li a{
    margin: auto;
    font-size: 1.6rem;
    font-weight: normal;
    color: #003356;
    text-decoration: none;
    font-family: 'montserrat';
}

nav li a:hover {
  color: #0bbf32;
}

.active {
  color: #0bbf32;
}


.nav-link{
    margin-left: 20rem;
    float: right;
}
.hamburger {
  display: none;
}

/* Hero section */
.hero-section{
    background-image: url("../Images/detailed_page_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70rem;
    width: 100%;
}

.second-hero-section{
    background-image: url("../Images/detailed_page_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70rem;
    width: 100%;
}
.second-hero-contect{
    display:block;
    justify-content: center;
    align-items: center;
    padding-right: 45rem;
    padding-top: 15rem;
    padding-left: 45rem;
   text-align: center;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  z-index: 999;
}

@media (max-width: 914px) {

h1{
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    font-size: 7.575rem;
    font-family: 'DTGetaiGrotes';
    color: #003356;  
}
  .top-nav{
    display: block;
  }

.nav-menu  {
  position: fixed;
  left: -100%;
  top: 4rem;
  flex-direction: column; 
  background-color: #fff;
  width: 100%;
  height: 40rem;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  z-index: 999;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu  ul{
  list-style: none;
}
.nav-menu  li{
  display: block;
  padding: 2rem;
  float: none;
  margin: 0rem 2rem;
  font-size: 2rem;
  color: #003356;
  font-weight: normal;
  font-family: 'montserrat';
  
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}
.nav-logo{
padding: 1rem;
}
.hamburger {
  height: 4.5rem;
  display: block;
  float: right;
  position: relative;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1.2rem;
  z-index: 9999;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

  nav{
    background-color: transparent;
    color: #1A0F28;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
  .hero-contect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .second-hero-contect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

  .hero-section{
    height: 100%;
    width: 100%;
}
.animated-text span:nth-child(1) {
  animation: color-change 15s infinite;
  animation-delay: 0s;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  font-size: 4rem;
  font-family: 'DTGetaiGrotes';
}
.animated-text span:nth-child(2) {
  animation: color-change 15s infinite;
  animation-delay:5s;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  font-size: 4rem;
  font-family: 'DTGetaiGrotes';
}
.animated-text span:nth-child(3) {
  animation: color-change 15s infinite;
  animation-delay: 10s;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  font-size: 4rem;
  font-family: 'DTGetaiGrotes';
}
.animated-text span:nth-child(4) {
  animation: color-change 15s infinite;
  animation-delay: 10s;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  font-size: 4rem;
  font-family: 'DTGetaiGrotes';
}
.hero-contect span{
  font-size: 1.2rem;
  padding-left: 1rem;
  font-weight: bold;
}
.hero-contect button{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: white;
  font-family: 'montserrat';
  background-color: #003356;
  padding: 20px 55px;
   border-radius: 10px; 
  border: none;
  box-shadow: 0 1.5rem 8px rgba(102, 102, 102, 0.3); 
}
.the-future{
  background-image: url("../Images/future_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


.tabs_wrap{
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.tabs_wrap ul{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}

.tabs_wrap ul li{
  width: 12rem;
  height: 5rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'montserrat';
  line-height: 1.5rem;
  color: #1f1e1f;
  background: #e9ecf1;
  border: 1px solid #003356;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.data_tabs_wrap{
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.data_tabs_wrap ul{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}
.data_tabs_wrap ul li{
  width: 12rem;
  height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  line-height: 1.5rem;
  color: #6E2B8D;
  background: #e9ecf1;
  border: 1px solid #6E2B8D;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.course-details{
  height: 70rem;
  width: 100%;
}

.course-details h1{
  justify-content: center;
  align-items: center;
 text-align: center;
  font-size: 3.5rem;
  color: #000;
  padding-left: 3rem;
  padding-right: 3rem;
}


.course-details p{
  color: #000;
}

.course-list-data{
  background-image: url("../Images/program_bg.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 105rem;
  width: 100%;
}

.course-list{
  background-image: url("../Images/program_bg.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 185rem;
  width: 100%;
}

.course-list-div {
  width: 100%;
  padding-top: 20rem;
  
} 


.pricing-table h2 {
  font-size: 1.5em;
  padding: 35px 10px;
  margin: 0;
}


.Price {
  background: #003356;
  position: relative;
  padding: 20px 0px;
  display: block;
 
}

.pricingbox h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}

.pricingbox p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}

.pricing-table {
  border-radius: 3px;
 
display: block;
justify-content: center;
align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.pricingbox {
  display: block;
  overflow: hidden;
  padding: auto;
  width: 35rem;
  height: 70rem;
  margin-bottom: 4rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #003356,
   10px 10px 0 #003356;
  border: 2px solid #000
}
.backend_engineering{
  display: none;
}
.cloud_engineering{
  display: none;
}
.data_analysis{
  display: none;
}
.data_science{
  display: none;
}
.product_marketing{
  display: none;
}
.product_management{
  display: none;
}
.product-Price {
  background: #0bbf32;
  position: relative;
  padding: 20px 0px;
  display: block;
 
}

.product-pricingbox h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}
.product-startup-program{
  display: none;
}
.product-pricingbox p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}
.product-pricingbox {
  overflow: hidden;
  padding: auto;
  width: 35rem;
  height: 75rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #0bbf32,
   10px 10px 0 #0bbf32;
  border: 2px solid #000
}

.data-Price {
  background: #6E2B8D;
  position: relative;
  padding: 20px 0px;
  display: block;
 
}

.data-pricingbox h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}

.data-pricingbox p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}
.data-pricingbox {
  overflow: hidden;
  padding: auto;
  width: 35rem;
  height: 75rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #6E2B8D,
   10px 10px 0 #6E2B8D;
  border: 2px solid #000
}
.data_body{
  margin-top: 15rem;
}
.pricing-table ul li {
  padding: 3px 0;
  font-size: 1.7rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  line-height: 2.5rem;
  color: #1f1e1f;
}
.pricing-table ul {
  color: #000;
  padding: 3rem 3rem;
  text-align: left;
}

.course-list button{
  float: right;
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: white;
  font-family: 'montserrat';
  background-color: #000;
  padding: 18px 55px;
}

.course-list-data button{
  float: right;
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: white;
  font-family: 'montserrat';
  background-color: #000;
  padding: 18px 55px;
}
.startup-program{
  display: none;
}

.application_form h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}

.application_form p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}
.application_form {
  overflow: hidden;
  padding: auto;
  width: 40rem;
  height: 75rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #003356,
   10px 10px 0 #003356;
  border: 2px solid #000
}

.application_div {
  width: 100%;
  padding-top: 5rem;
  
} 

.applicaton_head {
  background: #003356;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: block;
 
}
/* About section  */
.future-div {
  padding-top: 0rem;
  padding-bottom: 25rem;
}

.future-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.future-content-left {
  float: none;
  width: 100%;
  text-align: left;
  height: 100%;
}

.future-content-right {
  display: none;
  width: 100%;
  margin-top: 10rem;
  height: 100%;
}

.future-mission-img{
  display: block;

}
.future-mission-img img{
  width: 100%;

}
.future-content-two{
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
 text-align: center;
 margin-bottom: 5rem;
}
.tab-controller{
  margin-top: 60rem;

}
.tab-controller-product{
  margin-top: 40rem;

}

  
.future-content img{
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: end;
 }
 

.future-content-two h1{
  font-size: 2.5rem;
}

.programs{
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  height: 180rem;
  width: 100%;
  
}

.program_head h1{
  height: 8rem;
  width: 100%;
  background-color: #003356;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding-top: 2.6rem;
  padding-left: 3rem;
 text-align: center;
 font-size: 2rem;
 color: #fff;
}
.program_body {
  background-color: rgba(153, 130, 188, 0.1);
  height: 75rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  border-color: #003356;
  border-style: solid;
  border: 2px, solid #003356;

}
.program_body p{
  padding: 10px;
}
.program_body h3{
  font-size: 1.6rem;
  color: #003356;
  text-align: center;
}


.second-behave-body{
  background-image: url("../Images/secondbgabout.png");
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  margin-top: 20rem;
  width: 100%;
}
.beahead-mission-img img{
  display: block;
} 

.second-beahead-div {
  margin-top: 12rem;
  display: block;
  padding-right: 2rem;
  padding-left: 2rem;
} 
.beahead{
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  
  height: 170vh;
  width: 100%;

}
.behave-body-data{
  background-color: #6E2B8D;
  height: 105rem;
  width: 100%;
}

.behave-body-product{
  height: 105rem;
  width: 100%;
}


.behave-body{
  background-color: #003356;
  height: 170vh;
  width: 100%;
}
.beahead-div {
  margin-top: 12rem;
    display: block;
    padding-right: 2rem;
    padding-left: 2rem;
} 
.beahead-content-left .first{
  float: none;
  width: 100%;
  padding-top: 0rem;
  height: 100%;

}
.beahead-mission-img{
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
  height: 50%;
}

.beahead-content img{
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.beahead-content-right .first{
  float: none;
  width: 100%;
  height: 50rem;
  padding-top: 5rem;

}
.beahead-body-more{
    display: block;
    height: 100%;

}

.beahead-more{
  padding-top: 10rem;
}

.beahead-content-right {
  padding-top: 0rem;

}
.beahead-more-img img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.beahead-btn{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: #003356;
  font-family: 'montserrat';
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
}

.beahead-more h1{
  width: 100%;
}
.beahead-more p{
  width: 100%;
}

.beahead-content-more h1{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  padding: 2rem;
  font-size: 3rem;
  font-family: 'DTGetaiGrotes';
  background-color: transparent;
  color: #003356;  
}
.beahead-content-more p{
  color: #003356;  
  padding: 3rem;
  margin-top: 1rem;
  background-color: transparent;
}
.lower-section{
  background-image: url("../Images/testimonial-bg.png");
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2rem;
  display: block;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 110rem;
}
.testimonial-img img{
  display: none;
}
.testimonial-content{
  padding-top: 5rem;
}
.gofuther-more{
  padding-top: 3rem;
  padding-left: 2rem;
}
.gofuther-body-more{
  margin-top: 2rem;
    display: block;
    padding-top: 2rem;

}
.data-content-right{
  padding-top: 45rem;
    float: right;
    width: 100%;
    height: 14rem;

}
.product-content-right{
  padding-top: 35rem;
    float: right;
    width: 100%;
    height: 14rem;

}

.data-course-details{
  height: 75rem;
  width: 100%;
}

.data-course-details h1{
  justify-content: center;
  align-items: center;
 text-align: center;
  font-size: 3.5rem;
  color: #000;
  padding-left: 5rem;
  padding-right: 5rem;
}
.data-course-details-text{
  padding-top: 5rem;
}

.data-course-details p{
  color: #000;
}

.product-course-details{
  height: 75rem;
  width: 100%;
}

.product-course-details h1{
  justify-content: center;
  align-items: center;
 text-align: center;
  font-size: 3.5rem;
  color: #000;
}


.product-course-details p{
  color: #000;
}



.product-tabs_wrap{
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.product-tabs_wrap ul{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}
.product-tabs_wrap ul li{
  width: 12rem;
  height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  line-height: 1.5rem;
  color: #0bbf32;
  background: #e9ecf1;
  border: 1px solid #0bbf32;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}





.tabs_wrap ul li:hover,
.tabs_wrap ul li.active{
  background: #003356;
  color: #fff;
}
.product-tabs_wrap ul li:hover,
.product-tabs_wrap ul li.active{
  background: #0bbf32;
  color: #fff;
}


.gofuther-body-more-img img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.footer-two{
  height: 80rem;
  width: 100%;
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #003356;

}

.footer{
  height: 10rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center; 
  text-align: center;
  background-color: #fff;

}
.footer-content{
  display: flex; /* Use Flexbox for layout */
  justify-content: center; /* Space items to the left and right */
  align-items: center; /* Center items vertically */
  margin: 0 auto; /* Center container horizontally */
}

.footer-item {
  margin: 0 auto; /* Center container horizontally */
font-size: 2px;
text-align: center;
align-items: center;
justify-content: center; 
}


.footer-item-container-right{
  display: none;
}

.copy{
  text-align: center;
  color: #003356;
}

.footer-icon li{
padding-left: 0rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-icon a{
  list-style: none;
  color: #003356;
  font-size: 1.0rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
}


.data-startup-program{
 display: none;
}

.work-with-sagite{
  background-image: url("../Images/be_ahead.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  height: 70rem;
  width: 100%;
}

.sagite-details{
  padding-left: 2rem;
  padding-right: 2rem;

}

.sagite-mission button{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: #fff;
  font-family: 'montserrat';
  background-color: #003356;
  padding: 18px 50px;
}
.sagite-mission{
  background-color: rgba(242, 236, 84, 1);
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  width: 36rem;
}

.workmb{
  display: none;
}
.sagite-mission-head{
  width: 36rem;
  padding-top: 15rem;

}
.sagite-mission-head h1{
  background-color: rgba(242, 236, 84, 1);
}

.sagite-mission-head p {
  background-color: rgba(242, 236, 84, 1);
}

.data-sagite-mission{
  background-color: #0bbf32;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 36rem;
}
.data-sagite-mission-head{
  width: 35rem;
  padding-top: 15rem;

}
.data-sagite-mission button{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: #fff;
  font-family: 'montserrat';
  background-color: #003356;
  padding: 18px 50px;
}
.data-agite-mission-head h1{
  background-color: #0bbf32;
}

.data-sagite-mission-head p {
  background-color: #0bbf32;
}




.product-behave-body{
  background-image: url("../Images/product-behave.png");
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 70rem;
  width: 100%;
}
.product-beahead-div {
  margin-top: 12rem;
    display: block;
    padding-top: 10rem;
    padding-right: 2rem;
    padding-left: 2rem;
} 

.future-div-product{
  margin-top: 1rem;
    display: block;
    margin-bottom: 15rem;
    padding-right: 1rem;
    padding-left: 1rem;
} 

.below-product{
  margin-bottom: 35rem;
}

.product-sagite-mission{
  background-color: #003356;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 36rem;
}
.product-sagite-mission-head{
  width: 35rem;
  padding-top: 15rem;

}
.product-sagite-mission button{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: #003356;
  font-family: 'montserrat';
  background-color: #fff;
  padding: 18px 50px;
}
.product-sagite-mission-head h1{
  background-color: #003356;
  color: #fff;
}

.product-sagite-mission-head p {
  background-color: #003356;
  color: #fff;
}


input[type=text], select {
  width: 100%;
  padding: 20px 20px;
  margin-top: 2rem;
  display: inline-block;
  font-family: 'montserrat';
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  font-family: 'montserrat';
  margin-top: 2rem;
  font-size: 2rem;
}

label{
  text-align: left;
  font-size: 1.6rem;
  font-family: 'montserrat';
}

input[type=submit] {
  width: 100%;
  height: 5rem;
  background-color: #003356;
  color: white;
  padding: 20px 20px;
  margin-top: 5rem;
  font-family: 'montserrat';
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0bbf32;
}

.form_body form{
  
  padding-left: 2rem;
  padding-right: 2rem;
}

}

/* Media query for phones (small screens) */
/* @media only screen and (max-width: 480px) {} */
/* Media query for tablets (portrait and landscape) */
/* @media only screen and (min-width: 481px) and (max-width: 768px) {} */
/* Media query for laptops (landscape tablets and small desktops) */
/* @media only screen and (min-width: 769px) and (max-width: 1024px) {} */
/* Media query for larger monitors (desktops) */
/* @media only screen and (min-width: 1280px) {} */


@media only screen and (min-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  
  .hero-contect{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
   text-align: center;
   padding-top: 20rem;
   padding-left: 35rem;
   padding-right: 35rem;
}
.the-future{
  height: 70rem;
  width: 100%;
}
.workmb{
  display: block;
}

/* About section  */
.future-div {
  /* padding-top: 5rem; */
    display: block;
    /* padding-bottom: 5rem; */
    padding-right: 20rem;
    padding-left: 20rem;
} 
.future-content-left, .future-content-right {
  flex: 1;
}
.future-content{
  display: flex;
  padding-bottom: 1rem;
}
.future-content-left{
  float: left;
  width: 45%;
  padding-top: 5rem;
  height: 10rem;

}

.future-content-left button{
  padding-top: 5rem;
}

.future-btn:hover {
  background-color: #0056b3; 
}

.future-content-right{
  flex: 1;
  display: flex;
  justify-content: flex-end; 

}

.future-mission-img img {
  max-width: 100%; 
  height: 80%;
}

.future-content-two{
  display: block;
  justify-content: center;
  align-items: center;
 text-align: center;
}

.future-content-two h1{
  font-size: 3.5rem;
}


.tabs_wrap{
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.tabs_wrap ul{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs_wrap ul li{
  width: 25rem;
  height: 5rem;
  border-color: #003356;
  border-style: solid;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  line-height: 2.5rem;
  color: #1f1e1f;
  background: #e9ecf1;
  border: 1px solid #003356;
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.data_tabs_wrap{
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.data_tabs_wrap ul{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.data_tabs_wrap ul li{
  width: 25rem;
  height: 5rem;
  border-color: #6E2B8D;
  border-style: solid;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  line-height: 2.5rem;
  color: #6E2B8D;
  background: #e9ecf1;
  border: 1px solid #6E2B8D;
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tabs_wrap ul li:first-child{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.tabs_wrap ul li:last-child{
  border-right: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.course-details{
  background-image: url("../Images/coursedetailbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55rem;
  width: 100%;
}

.course-details h1{
  justify-content: center;
  align-items: center;
 text-align: center;
  font-size: 3.5rem;
  color: #fff;
  padding-top: 5rem;
}
.course-details-text{
  padding-top: 2rem;
}

.course-details p{
  color: #fff;
}

.programs{
  background-image: url("../Images/program_bg.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  height: 90rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line if there's not enough space */
  gap: 20px; /* Space between the cards */
  justify-content: start; /* Distribute space between the cards */
}

.program_head h1{
  height: 8rem;
  width: 100%;
  background-color: #003356;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-left: 5rem;
 text-align: center;
 font-size: 2.6rem;
 color: #fff;
}
.program_body {
  background-color: rgba(153, 130, 188, 0.1);
  height: 45rem;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  border-color: #003356;
  border-style: solid;
  border: 2px, solid #003356;

}

.prog {
  flex: 1 1 calc(13.333% - 20px); /* Adjust width of each card and account for gaps */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: #f9f9f9; /* Background color for contrast */
  border-radius: 8px; /* Rounded corners for a nicer look */
  padding: 20px; /* Padding inside the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.program_head {
  margin-bottom: 10px; /* Space below the heading */
}
.program_body p{
  padding: 10px;
}
.program_body h3{
  font-size: 1.6rem;
  color: #003356;
  text-align: center;
}
.beahead{
  padding-left: 20rem;
  padding-right: 20rem;
  height: 70rem;
  width: 100%;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */

}
.behave-body {
  display: flex;
  flex-direction: row; 
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  background-color: #003356;
  padding: 10rem; /* Adjust as needed */
  height: 55rem;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width/height */
}

.beahead-content {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; /* Distribute space evenly between children */
  width: 100%;
  align-items: center;
}
/* 
.beahead-div {
    display: block;
    padding-top: 1rem;
}  */
.beahead-content-left{
  flex: 1; 
  width: 50%;
  height: 6rem;

}
.beahead-content-left img {
  max-width: 100%; /* Prevent the image from exceeding its container */
  height: 100%; /* Maintain aspect ratio */
}

/* Styling for the right side content */
.beahead-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: flex-start; /* Align content to the start */
}


.beahead-more-img{
  height: 50rem; 
  width: 50rem;
}
.beahead-mission-img {
  display: flex;
  flex: 1; 
  width: 50%;
  height: 8rem;
}


.beahead-content-left, .beahead-content-right {
  display: flex;
  flex: 1; 
  width: 55%;
  align-items: center; /* Center content vertically */
  justify-content: space-between; /* Center content horizontally */
}
.beahead-body-more{
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Space items to the left and right */
  align-items: center; /* Center items vertically */
  margin: 0 auto; /* Center container horizontally */

}

.beahead-btn{
  margin-top: 2rem;
  font-size: 1.525rem;
  font-weight: normal;
  color: #003356;
  font-family: 'montserrat';
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
}

.beahead-more{
  padding-left: 2rem;
}
.beahead-content-more {
  display: flex; /* Use Flexbox for layout within the container */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between left and right content */
  width: 100%; /* Make sure the content takes full width */
}


.beahead-more h1{
  width: 70%;
}
.beahead-more p{
  width: 100%;
}
.beahead-content-more h1{
  font-style: normal;
  font-weight: 900;
  padding: 2rem;
  font-size: 3rem;
  font-family: 'DTGetaiGrotes';
  color: #003356;  
}
.beahead-content-more p{
  color: #003356;  
  padding: 2rem;
}
.lower-section{
  background-image: url("../Images/testimonial-bg.png");
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 60rem;
  display: block;
  padding-top: 2rem;
  height: 110rem;
}
.testimonial-content{
  padding-top: 15rem;
}
.gofuther-more{
  padding-top: 38rem;
  padding-left: 12rem;
}
.gofuther-body-more{
  margin-top: 60rem;
    display: block;
    padding-top: 2rem;

}

.footer{
  height: 10rem;
  width: 100%;
  padding-left: 20rem;
  padding-right: 20rem;
  align-items: center;
  justify-content: center; 
  background-color: #fff;

}
.footer-content{
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Space items to the left and right */
  align-items: center; /* Center items vertically */
  margin: 0 auto; /* Center container horizontally */
}

.footer-item {
  display: flex; 
font-size: 3px;
align-items: center;
justify-content: center; 
}
.second-beahead-div {
  margin-top: 12rem;
    display: block;
    padding-top: 10rem;
    padding-right: 27rem;
    padding-left: 27rem;
} 

.course-list{
  background-image: url("../Images/program_bg.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20rem;
  padding-right: 20rem;
  height: 100rem;
  width: 100%;
}

.course-list-div {
  width: 100%;
  padding-top: 10rem;
  
} 

.course-list-data{
  background-image: url("../Images/program_bg.png");
  background-size:auto;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100rem;
  width: 100%;
}

.pricing-table h2 {
  font-size: 1.5em;
  padding: 35px 10px;
  margin: 0;
}


.Price {
  background: #003356;
  position: relative;
  padding: 20px 0px;
  display: block;
 
}

.pricingbox h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}

.pricingbox p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}

.pricing-table {
  border-radius: 3px;
 
display: flex;
justify-content: center;
align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.pricingbox {
  display: block;
  overflow: hidden;
  padding: auto;
  width: 55rem;
  height: 60rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #003356,
   10px 10px 0 #003356;
  border: 2px solid #000
}
.backend_engineering{
  display: none;
}
.cloud_engineering{
  display: none;
}

.product-Price {
  background: #0bbf32;
  position: relative;
  padding: 20px 0px;
  display: block;
 
}

.product-pricingbox h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  font-size: 2rem;
  font-family: 'DTGetaiGrotes';
  color: #fff;
}

.product-pricingbox p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #fff;
}
.product-pricingbox {
  overflow: hidden;
  padding: auto;
  width: 55rem;
  height: 60rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #0bbf32,
   10px 10px 0 #0bbf32;
  border: 2px solid #000
}

.data-Price {
  background: #6E2B8D;
  position: relative;
  padding: 20px 0px;
  display: block;
 

}
.future-div-product{
  margin-top: 12rem;
    display: block;
    margin-bottom: 12rem;
    padding-right: 15rem;
    padding-left: 15rem;
} 





.application_form h3{
  font-style: normal;
  font-weight: 900;
  line-height: 135%;
  padding-right: 15rem;
  padding-left: 15rem;
  font-size: 4rem;
  font-family: 'DTGetaiGrotes';
  color: #000;
}

.application_form p{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  font-family: 'montserrat';
  font-style: normal;
  font-weight: lighter;
  color: #000;
}
.application_form {
  overflow: hidden;
  padding: auto;
  width: 90rem;
  height: 75rem;
  background-color: rgba(218, 218, 221, 1);
   box-shadow: 10px 10px 0 #003356,
   10px 10px 0 #003356;
  border: 2px solid #000
}

.applicaton_head {
  position: relative;
  padding: 50px 0px;
  display: block;
 
}

.form_body form{
  padding-left: 10rem;
  padding-right: 10rem;
}

input[type=text], select {
  width: 100%;
  padding: 16px 20px;
  margin: 1rem;
  display: inline-block;
  font-family: 'montserrat';
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  font-family: 'montserrat';
  margin: 1rem;
  font-size: 1.6rem;
}

label{
  text-align: left;
  font-size: 1.6rem;
  font-family: 'montserrat';
}

input[type=submit] {
  width: 100%;
  background-color: #003356;
  color: white;
  padding: 16px 20px;
  margin: 10px 0;
  font-family: 'montserrat';
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0bbf32;
}

}

.second-hero-contect p{
    padding-top: 3rem;
}
.second-hero-contect button{
    margin-top: 2rem;
    font-size: 1.525rem;
    font-weight: normal;
    color: white;
    font-family: 'montserrat';
    background-color: #003356;
    padding: 18px 55px;
    border-radius: 10px;
    border-color: #003356;
    border: 2px, solid #003356;
    box-shadow: 0 1.5rem 8px rgba(102, 102, 102, 0.3);
}

.hero-contect{
    display: inline-block;
    justify-content: center;
    align-items: center;
   text-align: center;
}
.hero-contect p{
    padding-top: 3rem;
}

.hero-contect button{
    margin-top: 3rem;
    font-size: 1.525rem;
    font-weight: normal;
    color: white;
    font-family: 'montserrat';
    background-color: #003356;
    padding: 18px 55px;
    border-radius: 10px;
    border: none; 
    box-shadow: 0 1.5rem 8px #FFFF;
}

.hero-contect span{
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
}

.future-content {
  margin-top: 20rem;
}



  .future-content h1{
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-family: 'DTGetaiGrotes';
    color: #003356;  
}


  
  .future-content button{
    margin-top: 2rem;
    font-size: 1.525rem;
    font-weight: normal;
    color: white;
    font-family: 'montserrat';
    background-color: #003356;
    padding: 18px 50px;
    border-radius: 10px;
    border: none;
}

  
/* .future-content img{
 width: 70%;
 align-items: end;
 justify-content: end;
} */


 
  .beahead-content h1{
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-family: 'DTGetaiGrotes';
    color: #fff;  
}
.beahead-content p{
    color: #fff;  
}


  
  /* .beahead-content button{
    margin-top: 2rem;
    font-size: 1.525rem;
    font-weight: normal;
    color: black;
    font-family: 'montserrat';
    background-color: #fff;
    padding: 18px 50px;
    border-radius: 30px;
} */
.beahead-content-two{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-right: 50rem;
    padding-top: 15rem;
    padding-left: 50rem;
   text-align: center;
}

.beahead-content-two h1{
    font-size: 3.5rem;
}







.gofuther-content-more h1{
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    padding: 2rem;
    font-size: 3rem;
    font-family: 'DTGetaiGrotes';
    background-color: #003356;
    color: #fff;  
}
.gofuther-content-more p{
    color: #003356;  
    padding: 3rem;
    margin-top: 2rem;
}



.gofuther-content-more h3{
    color: #003356;  
    margin-top: 1rem;
    text-align: end;
    font-weight: lighter;
    font-size: 1.6rem;
}



/* Footer section  */



.copy{
    color: #003356;
}

.footer-icon li{
  padding-left: 3rem;
    list-style: none;
    text-align: left;
}

.footer-icon a{
    list-style: none;
    color: #003356;
    font-size: 3.0rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-decoration: none;
    padding-right: 2rem;
}

  .data_tabs_wrap ul li:hover,
  .data_tabs_wrap ul li.active{
    background: #6E2B8D;
    color: #fff;
  }
  .container .item_wrap{
    padding: 10px 20px;
    border-bottom: 1px solid #ebedec;
    cursor: pointer;
  }
  
  .container .item_wrap:hover{
    background: #e9ecf1;
  }
  
  .container .item_wrap{
    padding: 10px 20px;
    border-bottom: 1px solid #ebedec;
    cursor: pointer;
  }
  
  .container .item_wrap:hover{
    background: #e9ecf1;
  }
  
  .container .item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
 
  


.startup-program{
    background-image: url("../Images/startup_program.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

.product-startup-program{
    background-image: url("../Images/productdsgnbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}
.product-startup-program h1{
    color: #fff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 20rem;
   text-align: center;
}


.startup-details{
    padding-left: 20rem;
    padding-right: 20rem;
}
.startup-program h1{
    color: #fff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 20rem;
   text-align: center;
}
.startup-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: auto;
  padding-top: 10rem;
  width: 100%;
}
.circle-text{
    text-align: center;
    font-size: 2.2rem;
    font-weight: normal;
    color: white;
    font-family: 'montserrat';
    padding: 18px 55px;

}

  .circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .circle span {
    font-style: normal;
    font-weight: 900;
    line-height: 135%;
    font-size: 2rem;
    font-family: 'DTGetaiGrotes';
    color: #003356;
  }

